/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log


toastr.css
toastr.js
vue-gallery-slideshow.js

templateoriginal.blade.php
welcomeoriginal.blade.php
